* {
	color: #8d0b0b;
	background-color: #eeeeee;
}

#image-input{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 2em;
}

#name-input{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 1em;
}

#content-input{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5em;
}