<!doctype html>
<title>2^64chan</title>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/archived_post.css">
  <link rel="shortcut icon" href="/image/favicon.ico" type="images/x-icon">
</head>
<body>
  <ul>
  <div>
    <img style="width:100px;" src="<%= '/image/'+post[0].op_image %>" />
    <b> <%= post[0].op_username %> </b> ~
    <b> <%= new Date(post[0].op_date).toLocaleString("en-gb", {day: "numeric", month: "2-digit", year: "numeric"}) %> </b> <br/>
    <% for (const data of post[0].op_content.split("\n")) { %>
      <p> <%= data %> </p>
    <% } %>
  </div>
    <% post.forEach(reply => { %>
    <div>
      <% if(reply.image_name){ %>
      <img style="width:100px;" src="<%= '/image/'+reply.image_name %>" />
      <%}; %>
      <% if(reply.username){ %>
        <b> <%= reply.username %> </b> ~
        <b> <%= new Date(reply.date).toLocaleString("en-gb", {day: "numeric", month: "2-digit", year: "numeric"}) %> </b> <br/>
        <% for (const data of reply.content.split("\n")) { %>
          <p> <%= data %> </p>
        <% } %>

      <% }; %>
    </div>
    <%}); %>
  </ul>

</body>
