<!doctype html>
<title>2^64chan - Archive</title>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/archived_threads.css">
  <link rel="shortcut icon" href="/image/favicon.ico" type="images/x-icon">
</head>
<body>
    </form>
  <ul>
  <form style="text-align: center;" method="GET" action="<%= `/archive/${board}/search` %>" enctype=multipart/form-data>
  </form>

  <% if(!posts[0]) { %>
    <b> couldn't find shit sorry not sorry </b>
  <% }; %>

  <% posts.forEach(post => {%>
  <div id="thread-info">
    <a href="<%= `/archive/${board}/thread/${post.thread_id}` %>"><img style="width:100px;" src="<%= '/image/'+post.image_name %>" /></a> <br/>
    <b> <%= post.title.slice(0, 50) %> </b> ~ 
    <b> <%= new Date(post.date).toLocaleString("en-gb", {day: "numeric", month: "2-digit", year: "numeric"}) %> </b> <br />
    <%= post.content.slice (0, 90) %> <br/> 
  </div>
  <% }); %>
  </ul>

</body>
