<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/image/favicon.ico" type="images/x-icon">
    <title>2^64chan - 4o4</title>
  </head>

  <body>
    <style>
      p {
        color: white;
        font-size: 50px;
      }
      /* Center the demo */
      html,
      body {
        height: 100%;
      }

      html {
        background: url(https://i.imgur.com/30y9hPW.gif) no-repeat center center
          fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>

    <div class="404">
      <p>Four-o-Four,</p>
      <p>You are lost.</p>
    </div>
  </body>
</html>
