<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2^64chan - Boards</title>
    <link rel="shortcut icon" href="/image/favicon.ico" type="images/x-icon">
    <link rel="stylesheet" href="/css/boards.css">
  </head>

  <body>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 30%;" src="/image/264logo.png" /> <br/>

    <% boards.forEach((board)=> {%>
    <a href="<%= `/${Object.values(board)[0]}` %>">
      <%= Object.values(board)[1] %>
    </a>
    <br />
    <% });%>
  </body>
</html>
