<!doctype html>
<title>2^64chan</title>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/post.css">
    <link rel="shortcut icon" href="/image/favicon.ico" type="images/x-icon">
</head>

<body>
    <ul>
        <div>
            <img style="width:100px;" src="<%= '/image/'+post[0].op_image %>" />
            <br/>
            <b> <%= post[0].op_username %> </b> ~
            <b> <%= new Date(post[0].op_date).toLocaleString("en-gb", {day: "numeric", month: "2-digit", year: "numeric"}) %> </b>
            <br/>
            <% for (const data of post[0].op_content.split("\n")) { %>
              <p> <%= data %> </p>
            <% } %>
        </div>
        <% post.forEach(reply=> { %>
            <div>
              <% if(reply.image_name){ %>
                <img style="width:100px;" src="<%= '/image/'+reply.image_name %>" />
              <%}; %>
              <% if(reply.username){ %>
                <br/> <b> <%= reply.username %> </b> ~
                <b> <%= new Date(reply.date).toLocaleString("en-gb", {day: "numeric", month: "2-digit", year: "numeric"}) %> </b>
                <br/>
                <% for (const data of reply.content.split("\n")) { %>
                  <p> <%= data %> </p>
                <% } %>

              <% }; %>
            </div>
        <%}); %>
    </ul>
    <br/>

    <form style="text-align: center;" method="POST" action="" enctype=multipart/form-data>
        Name:
        <input id="name-input" type="text" name="username" />
        <br /> Image:
        <input id="image-input" type=file name="image" />
        <br /> Content:
        <textarea id="content-input" type="text" name="content"></textarea>
        <br />
        <input type="submit" value="Post!" />
    </form>
</body>

</body>