<!doctype html>

<head>
  <title>2^64chan - <%= board_desc[0].board_desc %></title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/threads.css">
  <link rel="shortcut icon" href="/image/favicon.ico" type="images/x-icon">
</head>

<body>
  <h1 style="text-align: center;">
    <%= board %> - <%= board_desc[0].board_desc %>
  </h1>
  <form style="text-align: center;" method="POST" action="" enctype=multipart/form-data>
    Title: <input id="title-input" type="text" name="title" /><br />
    Image: <input id="image-input" type=file name="image" /><br />
    Content: <textarea id="content-input" type="text" name="content"></textarea><br />
    <input type="submit" value="Post!" />
  </form>
  <ul>
    <% posts.forEach(post=> {%>
      <div id="thread-info">
        <a href="<%= `/${board}/thread/${post.thread_id}` %>"><img style="width:100px;"
            src="<%= '/image/'+post.image_name %>" /></a> <br />
        <b> <%= post.title.slice(0, 50) %> </b> <br />
        R: <%= post.reply_count %> <br />
        <%= post.content.slice(0, 90) %> <br />
      </div>
      <% }); %>
  </ul>

</body>